.HarjoImage {
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
}
body {
    height: 100%;
    margin:0;
    background-color: black;
    color: white;
}
html {
    height: 100%;
}
h1 {
    text-align: center;
    font-size: xx-large;
    padding-top: 250px;
}
.flowers1 {
    float: right;
    padding-right: 100px;
}
.Overview {
    padding-top: 100px;
    padding-left: 200px;
    font-size: medium;
}
li {
    margin-bottom: 2em;
}
p {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 2em;
    line-height: 2em;
}
.poemtext {
    float: right;
    text-align: right;
    padding-bottom: 200px;
    position: absolute;
    width: 1000px;
}
h2 {
    padding-left: 250px;
    padding-top: 200px;
    padding-bottom: 1em;
}
.analysis-button {
    margin-left: 250px;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
    background-color:azure;
}
.analysis-button:hover {
    background-color: blue;
}

/*formatting the nav bar*/
input {
    filter: invert(1)
}
.backicon {
    height: 70px;
    rotate: 90deg;
}
.homeicon {
    height: 70px;
    padding-right: 150px;
    padding-left: 150px;
}
.poetryicon {
    height: 100px;
    padding-right: 150px;
}
.Poetry {
    height: 70px;
    overflow: hidden;
}
.poetryanalysisicon{
    height: 110px;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 150px;
}
.forthicon {
    height: 70px;
    rotate: -90deg;
}
.navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width:100%;
    background-color: black;
    z-index: 1;
}